body {
  font-family: Palatino;
  display:flexbox;
  background-color: beige;
}

h1 {
  text-align: center;
}

ul {
  display: grid;
  list-style: none;
}

li {
  background-color:lightgrey;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  border: auto;
}